<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <% if current_user %>
    <%= link_to_prev_page @books, 'Prev' %>&ensp;
    <%= link_to_next_page @books, 'Next' %>
    <% end %>
    <% unless current_user %>
    <br>
    <h2 class="text-center">Welcome to Library!</h2>
    <%= image_tag("book.jpg", :alt => "book", style: "width:110%") %>
    <% end %>
    <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
    <%end%>
    <% if current_user %>
    <h2>Books list:</h2>
    <table>
      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <p>"<%= book.title %>"</p>
              <%= image_tag(book.file.thumb.url, alt: 'Image', class:"img-responsive") if book.file? %>
              <p>
                <br>
                <%= link_to 'Show', book , class:"btn btn-primary btn-sm"%>
                <%= link_to 'Edit', edit_book_path(book), class:"btn btn-success btn-sm" %>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %>
                <% if book.reader == nil %>
                  <%= form_with(model: book, local: true) do |form| %>
                    <%= form.hidden_field :reader, id: :book_reader, value: current_user.id %>
                    <%= form.submit 'Take this book', method: :put, class:"btn btn-warning btn-sm"%>
                  <% end %>
                <% else %>
                  <p class="text-info">
                    This book have been taken by some one smart! Please try later!
                  </p>
                <% end %>
              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Add new Book', new_book_path, class:"btn-default btn-sm" %>
    <% end %>
    <br>
    <br>
    <% if current_user %>
    <%= link_to_prev_page @books, 'Prev' %>&ensp;
    <%= link_to_next_page @books, 'Next' %>
    <% end %>
  </div>
  <div class="col-md-3">
    <br>
    <% if current_user %>
    <%= link_to 'Your History', history_cards_path, class:"btn btn-info btn-sm" %>
    <% end %>
  </div>
</div>
<br>
