<div class="row">
<div class="col-md-1"></div>
<div class="col-md-6">
<br>
<% if notice %>
<p id="notice" class="alert alert-success"><%= notice %></p>
<%end%>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Book cover:</strong>
  <p>
    <%= image_tag(@book.file.thumb.url, alt: 'Image', class:"img-responsive") if @book.file? %>
  </p>

</p>

<p>
  <strong>Reader:</strong>
  <%= @book.reader %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>
</div>
